.App {
  width: 100%;
}

.App-header {
  display: flex;
  flex-direction: row;
  margin: 20px auto;
  align-items: center;
  justify-items:flex-end;
}

.elements-container {
  width: 500px;
  padding: 50px;
  margin: 10px auto;
}


img {
  max-width: 500px;
  flex: 1;
}

.colors-container {
  width: 200px;
}
