* {
  box-sizing: border-box;
}

.App {
  width: 100%;
}

.config-ui {
  background-color: #eee;
}

.elements-container {
  padding: 50px;
  width: 500px;
  margin: 0 auto;
}

img {
  width: 100%;
}

.colors-container {
  width: 200px;
}

h2 {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
}

.padded {
  padding: 24px 12px;
}
